{% extends "base.html" %}
{% load thumbnail %}
{% load bohdanfilter %}
{% load static %}

{% block content %}
<div id="macontainer">
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />	
	<div id='map'></div>
	<script type="text/javascript">
	var Map = {
			markers : [],
			init:function(){
				L.mapbox.accessToken = 'pk.eyJ1IjoiYm9oZGFuLWFuZGVyc29uIiwiYSI6Im5VeFYwcVkifQ.9-4ipoJcWi6MuQoItyIWnA';
				this.MAP = L.mapbox.map('map', 'bohdan-anderson.kg61nnf1');
			},
			move:function(lat,lon){
				this.MAP.setView([lat,lon], 16)
			},
			addMarker:function(lat,lon,title,description){
				var marker = L.mapbox.featureLayer({
					// this feature is in the GeoJSON format: see geojson.org
					// for the full specification
					type: 'Feature',
					geometry: {
						type: 'Point',

						coordinates: [
						lon,
						lat 
						]
					},
					properties: {
						title: title,
						description: description,
						// https://www.mapbox.com/guides/an-open-platform/#simplestyle
						'marker-size': 'large',
						'marker-color': '#000',
						'marker-symbol': 'art-gallery'
					}
				}).addTo(this.MAP);
				Map.markers.push(marker)
			},
			resetMap:function(){
				for(var a = 0, max = Map.markers.length; a < max; ++a){
					Map.markers[a].clearLayers()
				}
				Map.markers = [];
			}
		}
	Map.init();
	</script>
</div>
<div id="gallerycontainer">
	<div id="list">
		<div id="gallerynav">
			<div id="galleryhamberger">
			</div><ul>
				<li><a href="/admin/galleries/gallery/add/" target="_blank">add gal</a></li><li>
				<!--<a href="#alpha">Alpha</a></li><li>-->
				<a href="#open">Open</a></li><li>
				<a href="#recep">Recep.</a></li><li>
				<a href="#prox">Prox.</a></li>			
			</ul>
		</div>
		<div id="gallerylist">

		</div>
	</div>
	<div id="galleryinline">

	</div>
</div>


{% endblock %}

{% block other %}
<script src="{% static "js/lib/d3.3.4.13.js" %}" charset="utf-8"></script>
<script src="{% static "js/lib/jquery-1.11.0.min.js" %}" charset="utf-8"></script>

<script type="text/javascript" src="{% static "js/pages/galswipe.js" %}"></script>
<script type="text/javascript">

var viz = VisualzierContstructor();
viz.init();

</script>{% endblock %}