{% extends "base.html" %}
{% load thumbnail %}
{% load bohdanfilter %}
{% load static %}

{% block content %}
<div id="macontainer">
	<h2>map</h2>
</div>
<div id="gallerycontainer">
	<div id="list">
		<div id="gallerynav">
			<div id="galleryhamberger">
			</div><ul>
				<li><a href="/admin/galleries/gallery/add/" target="_blank">add gal</a></li><li>
				<!--<a href="#alpha">Alpha</a></li><li>-->
				<a href="#open">Open</a></li><li>
				<a href="#recep">Recep.</a></li><li>
				<a href="#prox">Prox.</a></li>			
			</ul>
		</div>
		<div id="gallerylist">

		</div>
	</div>
	<div id="galleryinline">

	</div>
</div>


{% endblock %}

{% block other %}
<script src="{% static "js/lib/d3.3.4.13.js" %}" charset="utf-8"></script>
<script src="{% static "js/lib/jquery-1.11.0.min.js" %}" charset="utf-8"></script>

<script type="text/javascript" src="{% static "js/pages/galswipe.js" %}"></script>
<script type="text/javascript">

var viz = VisualzierContstructor();
viz.init();

</script>{% endblock %}