{% extends "base.html" %}
{% load thumbnail %}
{% load bohdanfilter %}
{% load static %}

{% block content %}
<h1>Galleries</h1>
<div id="gallerylist">

</div>

<!--
	<li id="current-time-bar"></li>
{% for gal in gallery %}
	<li class="gallery">
		{{gal}} - <a href="/gallery/{{gal.slug}}/">local</a> - <a href="{{gal.url}}">link</a>
	</li>
{% endfor %}
-->

{% endblock %}


x	

{% block other %}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js" charset="utf-8"></script>

<script type="text/javascript" src="{% static "js/pages/galswipe.js" %}"></script>
<script type="text/javascript">

var viz = VisualzierContstructor();

var data = [
{% for gal in gallery %}{
	"title":"{{gal}}",
	"time":{% for curTime in time %}{% if curTime.parent == gal %}{{curTime|timeAsJsonObject}}{% endif %}{% endfor %}
},{% endfor %}	
]

viz.init(data);

</script>{% endblock %}