html,body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
li{
	list-style: none;
}

.time{
	padding: 10px 0;
	margin: 10px;
	border: solid black 1px;
	display: inline-block;
	.date-time{
		padding: 0 10px;
		&:nth-child(2n) {
			background: #eee;
		}
		display: block;
		&.notopen{
			color: #900;
		}
	}
}