html,body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
ul,h2,h3,h4{
	margin: 0;
	padding: 0;
}
li{
	margin: 0;
	padding: 0;	
	list-style: none;
}

.time{
	padding: 10px 0;
	margin: 10px;
	border: solid black 1px;
	display: inline-block;
	.date-time{
		padding: 0 10px;
		&:nth-child(2n) {
			background: #eee;
		}
		display: block;
		&.notopen{
			color: #900;
		}
	}
}



#macontainer{
	width:60%;
	left:0;
	top:0;
	position:absolute;
}

#gallerycontainer{
	width:40%;
	left:60%;
	top:0;
	position:absolute;

	#gallerynav{
		background: #000;
		margin-bottom: 1em;
		#galleryhamberger{
			width: 20%;
			display: inline-block;
		}
		ul{
			display: inline-block;
			width: 80%;
		}
		li{
			display: inline-block;
			width: 25%;
			text-align: center;
			a{	
				font-size: 0.8em;
				color: #fff;
				text-transform: uppercase;
				font-weight: bolder;
				text-decoration: none;
				display: inline-block;
				padding: 1em 0 0.5em 0;
			}
		}
	}

	&.singlegalactive{
		width: 60%;
		left: 40%;
		#list{
			width: 50%;
			display: block;
			float: left;
		}
	}

	#gallerylist{
		.gallerygraph{
			li{
				position: relative;
				margin-bottom:0.5em;
				a{
					color: inherit;
					text-decoration: none;
				}
			}
			.goodTimes{
				position: absolute;
				height: 100%;
				background: rgba(0,0,0,0.15);
				top: 0;
			}
			h3,h4{
				position: relative;
			}
			h4{
				font-size: 0.8em;
			}
			.showtitle{
				padding-bottom:0.25em;
			}
		}
		.graphoptions{
			text-align:right;
			li{
				display: inline-block;
				font-size: 0.8em;
				a{
					background: #ccc;
					padding:0.25em 0.5em;
					margin-right: 1em;
					color:inherit;
					text-decoration: none;
					:active{
						background:#777;
					}
				}
			}
		}
	}
	&.singlegalactive{
		#galleryinline{
			width: 50%;
			display: block;
			float: left;
		}
	}





	#galleryinline{
		// height: 100%;
		// height: 100vh;
		// overflow: scroll;
		.topblackbar{
			background: #000;
		}
	}


}