@import "variables";

a{
	color:inherit;
	text-decoration:none;
}

#gallerylist{
	overflow: hidden;
}

.gallery{
	position: relative;
	// max-width: $maxwidth;
	// margin: 0 auto;	
	padding: 0.5em 0;
	color: #000;
	background: $lightGrey;
	&.doorsopen{
		color: #fff;
	}

	h2,h3,h4{
		display: inline;
	}

	> div{
		position: relative;
	}
	.time{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		// overflow: hidden;
		> div{
			position: relative;
			width:700%;
			height: 100%;

			background: $lightGrey;
			div{
				position: absolute;
				height: 100%;
				background: $darkGrey;
				color: rgba(0,0,0,0.2);
				text-align: left;
			}	

			.reception{
				background: $darkBlue;
			}
			.receptionday{
				background: $lightBlue;
			}		
		} 
	}
}

.upperdetails{
	.showlength{
		text-transform: capitalize;
		width: 25%;
	}
	.hours{
		text-transform: lowercase
	}
	.distance{
		width: 30%;
		text-align: right;
	}
	h4{
		display: inline-block;
		width: 35%;
		vertical-align: top;
	}
}

.maindetails{
	.gallerytitle{
		display: inline-block;
		width: 35%;
	}
	.showtitle{
		vertical-align: bottom;
		display: inline-block;
		width: 60%;
	}
}