// $lightGrey: #ccc;
// $darkGrey: #999;

// $lightBlue: #87f;
// $darkBlue: #54f;

$lightGrey: #626c6d;
$darkGrey: #566060;

$lightBlue: #0071ef;
$darkBlue: #2e4965;

$small: 0.80em;
$large: 1.5em;

$maxwidth: 750px;