{% load thumbnail %}
{% load bohdanfilter %}
<div class="topblackbar">
	<a href="/admin/galleries/gallery/{{gal.pk}}" target="_blank">edit gal</a>
	<a href="/admin/galleries/show/add" target="_blank"> add show</a>
	{% if current_show.0 %}<a href="/admin/galleries/show/{{current_show.0.pk}}" target="_blank"> edit show</a>{%endif%}
	<a href="#close" class="closeinlinegal">close</a>
</div>
<div class="eventdetails">
	<h2>{{gal.title}}</h2>
	{% if current_show.0 %}
		<!-- IF show is available -->

		<h3>{{current_show.0.title}}</h3>
		<p class="eventtime">
			{% if opening and current_show.0%}
			opening today - {{opening.opening_start_time}} til {{opening.opening_end_time}}<br>
			{% endif %}
			normal times - {{time|todayTimes}}
		</p>
		<p class="eventdate">
			showing from - {{current_show.0.date_start}} - {{current_show.0.date_end}}
		</p>

		<div class="eventdescirption">
			<img src="{{current_show.0.cover_work.Image|thumbnail_url:'normal'}}">
			<!-- {{MEDIA_URL}}/current_show.0.cover_work.Image -->

			<p>{{current_show.0.description}}</p>

			<!-- {{ current_show.0.cover_work|thumbnail_url:'avatar' }} -->
			<ul class="artistlist">
			{% for artist in current_show.0.includes_artists.all%}
				<li>
					{{artist.first_name}} {{artist.last_name}} {% if artist.website %}
						- <a href="{{artist.website}}" target="_blank">website</a>	
					{% endif %}
				</li>
			{%endfor%}
			</ul>
			
		</div>
		<hr>
	{% else %}
		<!-- NO SHOW data -->
		<p class="eventtime">
			{{time|todayTimes}}
		</p>
	{%endif%}

	<div class="description">
	{{gal.description}}
	</div>



	<div class="time">
		<span class="date-time {% if not time.mon_start %}notopen{% endif %}">mon - {% if time.mon_start %} {{time.mon_start}} till {{time.mon_end}} {% else %} not Open {% endif %}</span>
		<span class="date-time {% if not time.tue_start %}notopen{% endif %}">tue - {% if time.tue_start %} {{time.tue_start}} till {{time.tue_end}} {% else %} not Open {% endif %}</span>
		<span class="date-time {% if not time.wed_start %}notopen{% endif %}">wed - {% if time.wed_start %} {{time.wed_start}} till {{time.wed_end}} {% else %} not Open {% endif %}</span>
		<span class="date-time {% if not time.thu_start %}notopen{% endif %}">thu - {% if time.thu_start %} {{time.thu_start}} till {{time.thu_end}} {% else %} not Open {% endif %}</span>
		<span class="date-time {% if not time.fri_start %}notopen{% endif %}">fri - {% if time.fri_start %} {{time.fri_start}} till {{time.fri_end}} {% else %} not Open {% endif %}</span>
		<span class="date-time {% if not time.sat_start %}notopen{% endif %}">sat - {% if time.sat_start %} {{time.sat_start}} till {{time.sat_end}} {% else %} not Open {% endif %}</span>
		<span class="date-time {% if not time.sun_start %}notopen{% endif %}">sun - {% if time.sun_start %} {{time.sun_start}} till {{time.sun_end}} {% else %} not Open {% endif %}</span>
	</div>

	<div class="shows">
		<h3>future and past shows</h3>
		{% for show in shows %}
			<div class="show">
				<h3>{{show.title}}</h3>
				{{show.date_start}} - {{show.date_end}}
			</div>
		{% endfor %}
	</div>
</div>
