{% extends "base.html" %}
{% load thumbnail %}
{% load static %}


{% block pageID%}home{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	<ul>
		<li><a href="/galleries">galleries</a></li>
		<li><a href="/shows">shows</a></li>
		<li><a href="/gallery">gallery</a></li>
		<li></li>
		<li><a href="/gswipelist">swipe Gallery</a></li>
	</ul>
{% endblock %}

{% block footer %}
{% endblock %}

{% block other %}
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<script type="text/javascript">
	app.init();
</script>
{% endblock %}